/* <a href="https://pl.freepik.com/darmowe-zdjecie/tajemniczy-jesienny-las-oswietlony-upiornym-zachodem-slonca-wygenerowanym-przez-sztuczna-inteligencje_41219261.htm#page=2&query=anime%20tree&position=26&from_view=search&track=ais&uuid=bb474238-a650-42e6-8a85-f6f4c19655ee">Obraz autorstwa vecstock</a> na Freepik */
/* umiescic to potem w stopce */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;  /* Reset default margin */
    padding: 0; /* Reset default padding */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh; 
    /* background-image: url('../img/vintage-crumpled-paper-textured-background.jpg'); */
    /* background-color: #003366; */
    background-color: #006699;
    background-size: cover;  /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */   
    filter: blur(0.5px); /* Adjust the blur value as needed */
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: 80%; */
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-shadow: 2px 2px 2px black;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    box-shadow: 1px 1px 4px black;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: black;
    text-shadow: 2px 2px 2px white;
}

/* .container{
    position: fixed;
    margin-top: 100px; 
    width: 100%;  
} */

.container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 80px; 
    padding-bottom: 20px; 
    position: relative;
    z-index: 1;
  }

/* .container {
    white-space: nowrap; /* Prevent cards from wrapping to the next line
    padding-top: 80px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
} */

.footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 10px 0;
background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
text-align: center;
z-index: 99;
}

/* .row { */
    /* position: fixed; */
    /* display: flex; */
    /* justify-content: center; Center the boxes */
    /* align-items: center; */
    /* white-space: nowrap; */
    /* flex-wrap: wrap; Allow boxes to wrap to the next line */
    /* z-index: 101; */
    /* margin-top: 20px; Adjust as needed */
/* } */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out; /* Add smooth transition */
}

.myCard {
    /* flex: 0 0 calc(25% - 10px); Adjust as needed */
    /* position: fixed; */
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    height: 200px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px black;
    margin: 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, filter 0.3s;
    /* margin: 0 5px 10px; Adjust as needed for spacing between and below cards */
}

.myCard{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 4px grey;
    padding-top: 5px;
    margin-top: 5px;
}

.card-img {
    width: 100%;
    height: 82%;
}

.card-buttons {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transition: opacity 0.9s ease-in-out; */
    /* opacity: 0; */
    justify-content: center; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 5px; /* Add padding for spacing */
}

/* Ensure buttons stack on top of each other */
.card-buttons button {
    display: block;
    margin-bottom: 5px; /* Add spacing between buttons */
}

.myCard:hover .card-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    /* opacity: 1; */
}

#btn_toSMT_top {
    width: 100%; 
    height: 40%;
    margin: 10px;
}

.btn_toSMT_bottom {
    width: 100%; 
    height: 40%;
    margin: 10px;
}

#info_card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1000;
}

/* Hide overflow to prevent horizontal scrolling */
.carousel {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative; /* Ensure arrows are positioned correctly */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set display mode and hide all but the first image */
.carousel img {
    display: none;
    width: 100%;
    height: auto;
}

/* Show the first image by default */
.carousel img:first-child {
    display: block;
}

/* Styling for navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    margin-left: 25px;
    left: 0;
}

.next {
    margin-right: 25px;
    right: 0;
}
/* Initially hide the card */
.hidden {
    display: none;
}

#name{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px black;
}
